research
xcshareddata
DerivedData
xcuserdata
.texpadtmp
.DS_Store

# IDE configuration
/.idea/
*.iml

# Compilation product and byproducts
/build/
/output/
src/screenshots*/3do_motherboard.png
src/screenshots*/3do_vectors.png
src/screenshots*/486_layout.png
src/screenshots*/68030_layout.png
src/screenshots*/beasts_sizes.png
src/screenshots*/beasts_sizes2.png
src/screenshots*/CEL_examples.png
src/screenshots*/colormap.png
src/screenshots*/CRY.png
src/screenshots*/CRY_persp.png
src/screenshots*/cyber_sprite.png
src/screenshots*/E1M1_slimetrail_zoom.png
src/screenshots*/face_rawmajorized.png
src/screenshots*/faces.png
src/screenshots*/imp_die.png
src/screenshots*/imp_sprite.png
src/screenshots*/imp_xdie.png
src/screenshots*/leak_opposite_explained.png
src/screenshots*/NeXTDimension.png
src/screenshots*/perspective_psx_explained.png
src/screenshots*/simple_room_clip.png
src/screenshots*/simple_room_visplanes.png
src/screenshots*/spectrogram2.png
src/screenshots*/sprite_format.png
src/screenshots*/sprites_ratio_cacodemon.png
src/screenshots*/sprites_ratio_demon.png
src/screenshots*/vga_ram_screen_layout.png
*.o
*.pdf
*.WAD
cmake-build-debug
CMakeFiles
cmake-fab
